@import url(https://fonts.googleapis.com/css?family=Anton:regular);
@import url(https://fonts.googleapis.com/css?family=Dosis:200,300,regular,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:regular,italic,700,700italic);

.main a{
    text-decoration: none;
    
}

.main button{
    width: 130px;
    height: 40px;
    border-radius: 5%;
    border: 2px solid rgb(92, 22, 184);
    font-family: Anton;
    color: #fff;
    background-color: rgba(109, 53, 184, 0.938);
}

.name{
    font-family: Anton;
    font-size: 50px;
    background: -webkit-linear-gradient(rgb(247, 3, 255), rgb(17, 65, 199));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.director{
    font-family: Dosis;
    font-weight: 500;
    color: #d3d3d3;
    margin-bottom: 0px;
}

.year{
    font-family: Anton;
    color: #d3d3d3;
}

.synopsis{
    position: relative;
    font-family: Noto Sans;
    color: #d3d3d3;
    max-width: 550px;
    min-width: 300px;
}

.main{
    display: flexbox;
    top: 50%;
    right: 50%;
    float: left;
    padding: 50px;
}

.imgs{
    display: flexbox;
    float: right;
    margin-top: 15vh;
    margin-right: 10vh;
}